services: 
  static:
    image: nginx:1.25.5-alpine-otel
    ports:
    - 8089:80
    volumes:
    - ./config/:/usr/share/nginx/html/

  jaeger:
    image: jaegertracing/all-in-one:1.57.0
    ports:
      - "16686:16686"                    # Jaeger UI
      - "4317"                           # OTLP gRPC default port
      - "4318"                           # OTLP HTTP default port (protobuf)
      - "14250"
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  collector:
    image: otel/opentelemetry-collector-contrib:0.100.0
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./config/otel.yaml:/etc/otel-collector-config.yml
    ports:
      - "4317:4317"
    depends_on:
      - jaeger    

# db:
#   image: postgres:16.3-alpine3.19
#   environment:
#     POSTGRES_PASSWORD: example

#  initdb:
#    image: abatalev/initdb:2021-10-28
#    depends_on:
#      - db
  
  process:
    image: abatalev/process:2021-10-28
    ports:
    - 8081:8080
    depends_on: 
    - collector

  task1:
    image: abatalev/task1:2021-10-28
    scale: 2
#    ports:
#   - 8083:8080
    depends_on: 
    - collector
    - process

  process-mock:
    image: abatalev/process-mock:2021-10-28
    scale: 1
    ports:
    - 8082:8080
    depends_on: 
    - process
    - collector

  prometheus:
    image: prom/prometheus:v2.52.0
    command: --config.file=/etc/prometheus/prometheus.yml --log.level=debug
    ports:
    - 9090:9090
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    links:
      - process
      - process-mock
      - task1

#  grafana:
#    image: grafana/grafana:8.2.1
#    ports:
#      - 3000:3000
#    environment:
#      - GF_SECURITY_ADMIN_USER=admin
#      - GF_SECURITY_ADMIN_PASSWORD=admin
#    depends_on:
#      - prometheus
#  #   build: './config/grafana'
#  #   volumes:
#  #     - ./config/grafana:/var/lib/grafana
